server {
  listen 80;

  root {{ document_root }};
  index {{ index_file }};

  server_name {{ server_name }};

  location / {
   default_type "text/html";
   try_files $uri.html $uri $uri/ =404;
  }
}
